
    
<style>
    .sen{
      font-family: Arial, sans-serif; /* Sets the font to Arial, with a fallback to sans-serif */
      font-size: 16px; /* Sets the font size to 16 pixels */
      color: #333; /* Sets the text color to a dark gray */
      line-height: 1.5; /* Sets the line height to 1.5 times the font size for better readability */
      margin: 20px 0; /* Adds 20 pixels of space above and below the paragraph */
      padding: 10px; /* Adds 10 pixels of space inside the paragraph, around the text */
      background-color: #948a8a; /* Sets a light gray background color for the paragraph */
      border-left: 4px solid #3706be; /* Adds a blue left border to the paragraph */
    }
    
        
    
    </style>
{% block content %}
<div class="sen">
<h1>Password reset complete</h1>
Your password has been set. You may go ahead and log in now.

<a href="{% url 'log_in' %}">Login</a>
</div>



{% endblock %}