{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- About section Start -->
<div class="about-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-wrapper text-center">
                    <div class="about-contant">
                        <h2 class="title">
                            <span>Smart Fashion </span>
                            With Smart Devices
                        </h2>
                        <p>
                            An electronic shop is a retail store that specializes in selling a wide range of electronic products and accessories. These shops typically offer devices such as smartphones, laptops, tablets, televisions, audio equipment, and home appliances, along with various accessories like chargers, headphones, and cases. Customers can explore the latest technology and compare products from different brands all in one place. Knowledgeable staff are often available to help shoppers choose the right product based on their needs, answer technical questions, and provide guidance on product usage and maintenance.
                        </p>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CP56qT9JZVI?si=cJApDWmzz1DL_nPW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About section End -->
{% endblock content %}
